<html>

<head>
<title>Schedule Page</title>
<link rel = "stylesheet" type = "text/css" href = "table_style.css" />

</head>

<body>

<!-- The Schedule Table -->
<!-- Each cell should contain the class name and location -->
<table border = "4">
<tr>
<th>Day/Time</th>
<th>MON</th>
<th>TUE</th>
<th>WED</th>
<th>THU</th>
<th>FRI</th>
<th>SAT</th>
</tr>

<tr>
<th>8:30am <br> 9:55am</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<th>10:00am <br> 11:25am</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<th>11:30am <br> 12:55pm</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<th>1:00pm <br> 2:25pm</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<th>2:30pm <br> 3:55pm</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<th>4:00pm <br> 5:25pm</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<th>6:00pm <br> 9:05pm</th>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
<!-- END Schedule Table -->




</body>

</html>
