
/* Schedule Grid */
table.grid
{
	border-spacing: 0px;
	border-color: blue;
	padding: 10px;
	margin: 6px 0px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
	-ms-border-radius: 15px;
	/*background: #C0C0C0 */
	background: #E0E0E0; 
	box-shadow: 5px 5px 5px #888888;	

}
table.grid td
{
	border-style:solid;
	border-color: #AAA; 
	border-width: 1px;
	padding: 5px;
	vertical-align: top;
}
table.grid th
{
	padding: 5px;
	border-style: none;

}

table.list
{
	padding: 4px;
	


}

/* Search Engine and Semester Selection Panels */
#bSearch,#aSearch,#sem_select
{
	height: auto;
	width: auto;
	background: #6699CC;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	-moz-border-radius: 15px;
}
/* Rounded corners effect */
.rounded_corners
{
	height:auto;
	width:auto; 
	background:#FFFFFF;
	margin:5px;
	padding:5px;
	-moz-border-radius:25px;    /* Firefox */
	-webkit-border-radius:25px; /* Safari and Chrome */
}

/* Left Panel */
#side_panel
{
	height: auto;
	width: auto;
	background: #6699CC;
	box-shadow: 5px 5px 5px #888888;
	float: left;
	width: 15%;
	padding-right:10px;
	-moz-border-radius: 15px;
	padding: 10px;
	margin: 10px 15px;
	
}

/* Header */
#header
{
	background: url('header.gif');
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
	background-color: #000066;
	color: #FFFFFF;
	font-family: "Arial";
	font-size: 32pt;
	overflow: hidden;
}

#bodywrapper
{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0;
	background-color: #FFFFFF;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	font-family: "Verdana";
	font-size: 32pt;
	color:white;
}

#contentarea
{
	margin-left: 200px;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

body
{
	background-color:#FFFFFF;
	font-family:"Verdana";
	font-size:12px;
	margin: 0;
	padding: 0;
	
}
td
{
	font-family: Arial,Halvetica,Sans-Serif;
	font-size:12px;
}
th
{
	font-size:10pt;
	text-align:center;
}
div.top_banner
{
	width:100%;
	height:22%;
	background-color:#000066;
	margin:0;
	padding:0;
	font-family:"Verdana";
	font-size:32pt;
	color:white;
}
/* Based off http://madrobby.github.com/scriptaculous/ajax-autocompleter/ */
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #0cf}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}

/* Alternating rows */
.row0
{
	background-color:#6699CC;
}

.row1
{
	background-color:#99CCCC;
}

/* Red */
.color_code1
{
	border-color: #AA4535;
	background-color: #F7422B;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	-ms-border-radius: 6px;
	
}
/* Orange */
.color_code2
{
	border-color: #CB7403;
	background-color: #FFAD46;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	-ms-border-radius: 6px;

}
/* Green */
.color_code3
{
	border-color: #50C7A5;
	background-color: #B1E9D2;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	-ms-border-radius: 6px;

}
/* Light Blue */
.color_code4
{
	border-color: #1587BD;
	background-color: #9FC6E7;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	-ms-border-radius: 6px;

}
/* Dark Blue */
.color_code5
{
	border-color: #4D87DC;
	background-color: #7BA7ED;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	-ms-border-radius: 6px;

}
/* Purple */
.color_code6
{
	border-color: #6733DD;
	background-color: #B99AFF;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
	-ms-border-radius: 6px;
}










